@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin fcc{
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin fc{
    display: flex;
    align-items: center;
}
@mixin font($f-w,$f-s){
    font-family: "Poppins", sans-serif;
    font-weight: $f-w;
    font-size: $f-s;
}
@function clr($bg-color){
    @if(darken($bg-color) < 10%){
        @return #000 ;
    }@else{
        @return #fff
    }
}